@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');

:root{
    --orange: hsl(31, 77%, 52%);
    --middle-color: hsl(184, 100%, 22%);
    --last-color: hsl(179, 100%, 13%);
    --white: #ffff;

    --clr-text-primary: hsl(0, 0%, 100%, 0.75);
    --clr-text-light-gray: hsl(0, 0%, 95%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 0;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.7em;
    text-transform: uppercase;
    color: var(--clr-text-light-gray);
    margin-bottom: 1.5rem;
}
p{
    margin-bottom: 1.5rem;
    line-height: 1.7;
}
.sedan-column{
    background-color: var(--orange);
}
.suv-column{
    background-color: var(--middle-color);
}
.luxury-column{
    background-color: var(--last-color);
}
