@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root{
    --orange: rgb(255, 117, 24);
    --middle-color: #007e7e;
    --last-color: #005858;
    --white: #ffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--white);
    font-family: 'Oswald', sans-serif;
    color: var(--white);
}